@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* body font */
:root {
    --white: #fff;
    --black: #000;
    --icon: rgba(2, 68, 135, 1);
    --global: #4175FC;
    --footerbg: #101218;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", serif;
        }
        .navbar {

            position: absolute;
            background-color: transparent;
            width: 100%;
            backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
          
          }
          .nav-link, .active {
            /* color: rgba(3, 113, 185, 1); */ 
            color: var(--white);
            /* background: -webkit-linear-gradient(241deg, #C530EA 22.83%, #11D5F7 181.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
          }
          .nav-link:focus, .nav-link:hover {
            /* color: #0777BA; */
            background: -webkit-linear-gradient(241deg, #C530EA 22.83%, #11D5F7 181.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
          .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
            /* color: rgba(3, 113, 185, 1); */
            color: var(--white);
            font-size: 16px;
            font-weight: 700;
          }

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-bottom-right-radius: 150px;
    h1{
      font-size: 70px;
    }
    p{
      font-size: 32px;
    }
}
.contentflex
{
    display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* gap: 50px; */
        flex-direction: column;
        margin: 0px auto;
        padding: 0 0;
        top: 50%;
        position: absolute;
        /* bottom: 0;*/
        color: var(--white);
}         
.heading {
  font-size: 32px;
  font-weight: 700;
  font-family: "Rubik", serif;
}
.para {
  font-family: "Inter", serif;
  font-size: 16px;
}
.box4 {
  display: flex;
  gap: 150px;
  margin-top: 20px;
   i{
    font-size: 32px;
    color: var(--icon);
    padding-right: 25px;
   }
   p {
    font-size: 20px;
    font-weight: 700;
    color: var(--icon);
   }
}
.global {
  margin: 80px;
  img {
    border-radius: 15px;
  }
}
.learnmore {
  border-radius: 5px;
  border: 1px solid var(--icon);
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Inter", serif;
  border-color: var(--icon);
  background-color: transparent;
  color: var(--icon);
  &:hover {
    background-color: var(--icon);
    color: var(--white);
    fill: var(--icon);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
    letter-spacing: 2px;
  }
}
.speciality {
  img {
    border-radius: 15px;
  }
  .card {
    background-color: var(--icon);
    color: var(--white);
    border-radius: 15px;
    margin-bottom: 30px;
    .body{
      padding: 20px;
      .fa-users, .fa-slideshare, .fa-star-o {
        font-size: 32px;
        padding: 15px;
        margin:15px 10px 15px 0px;
      }
      .title {
        font-size: 28px;
        font-family: "Rubik", serif;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
    }
    &:hover {
      box-shadow: 0px 0px 5px 12px #ccc;
      background: -webkit-linear-gradient(241deg,rgb(57, 23, 65) 22.83%, #11D5F7 181.18%);
      cursor: pointer;
    }
  }
}
.offer {
    .card {
      background-color: rgba(196, 207, 255, 0.59);
    border-radius: 15px;
    color: var(--black);
    border: none;
    min-height: 500px;
    .body {
      padding: 15px;
      i {
        font-size: 30px;
        margin: 20px 0px;
        color: var(--white);
      }
      .title {
        font-size: 28px;
        font-family: "Rubik", serif;
        margin-bottom: 5px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .para {
        font-family: "Inter", serif;
        font-size: 16px;
        line-height: 28px;
      }
    }
    &:hover {
      box-shadow: 0px 0px 5px 12px #ccc;
      background: -webkit-linear-gradient(241deg, #C530EA 22.83%, #11D5F7 181.18%);
      color: var(--white);
      padding: 20px;
    }
  }
}
.business {
  background-image: url(../img/dots.png), linear-gradient(90deg, #FFFFFF00 32%, var(--global) 32%);
  background-repeat: no-repeat;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  .bgcolor {
    background-color: transparent;
  padding: 20px;
  color: var(--white);
  }
  .right {
    margin-left: 50px;
    align-content: center;
    .para {
      line-height: 30px;
    }
  }
}
.happy {
  margin-top: 100px; 
  .heading {
    font-size: 32px;
    font-weight: 700;
    font-family: "Rubik", serif;
    background: -webkit-linear-gradient(241deg, var(--global) 22.83%, #C530EA 100.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0px;
  }
   .para {
    font-family: "Inter", serif;
  font-size: 16px;
  margin-top: 0px;
   }
}
.client {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0px auto;
  justify-content: center;
  img{
    width: 150px;
    height: 100px;
    background-color: #fff;
    
  }
}
.footerbg {
  background-color: var(--footerbg);
  padding: 50px 0px;
  color: var(--white); 
  .footerhead{
    color: var(--white);
    font-size: 24px;
    padding: 10px 0px 0px 30px;
    font-family: "Rubik", serif;
  }
  ul {
    list-style-type: none;
    li{
      line-height: 30px;
      cursor: pointer;
      &:hover {
        background: -webkit-linear-gradient(241deg, #C530EA 22.83%, #11D5F7 181.18%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        transition: all 0.15s ease-in-out;
        /* text-transform: uppercase;
        letter-spacing: 2px; */
      }
    }    
  }
  i{
    font-size: 40px;
    color: var(--global);
    margin-right: 20px;
  }
}
/* swiper-container {
            width: 100%;
            height: 100%;
          }
      
          swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          } */

          /* Mobile */
@media screen and (min-width: 480px) and (max-with:767px) {
  .global {
    margin:40px 0px;
      }
}
/* Tablet */
@media screen and (min-width: 768px) {
  .business {
    background-color: var(--global);
    background-repeat: no-repeat;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    .bgcolor {
      background-color: transparent;
    padding: 0px;
    color: var(--white);
    }
    .right {
      margin-left: 0px;
      align-content: center;
      .para {
        line-height: 30px;
      }
    }
  }

}